<form action="/addCountry" method="POST">
<label>Please fill out this form</label><br>
    <label>Name  </label>
    <input type="text" name="name" minlength="4"><br>
    <label>Code  </label>
    <input type="text" minlength="2" maxlength="3" style="text-transform:uppercase"  name="code"><br>
    <label>Details</label>
    <input type="text" name="details" minlength="10"><br>
    <input type="submit" value="OK">
</form>