<!-- -->
<a href="/deleteCountry/<%= country %>" class="btn btn-primary" role="button"><input type="submit" value="<%=country%>"></a>
<form action='/deleteCountry/<%=country%>'  method="DELETE" >
    <input type="submit" value="Yes">
</form>
<a href="<%= countryLink %>" class="btn btn-primary" role="button"><input type="submit" value="No"></a>