<!--Creates the home page and allows access to all main pages-->
<table cellpadding="5" cellspacing="2">
    <p><H1>Welcome to the world data base</H1></p>
    <p>We are currently collecting data on countries, cities and head of states</p>
    <p><a href="<%= city %>" class="btn btn-primary" role="button"><input type="button" value="City"></a></p>
    <p><a href="<%= country %>" class="btn btn-primary" role="button"><input type="button" value="Country"></a></p>
    <p><a href="<%= headState %>" class="btn btn-primary" role="button"><input type="button" value="Head of State"></a></p>

 </table>