<!--Allows for the updating of a country-->
<form action="/updateCountry/<%=country%>" method="POST" >
    <label>Please fill out this form</label><br>
  
        <label>Name  </label>
        <input type="text" name="name"><br>
        
        <label>Details</label>
        <input type="text" name="details"><br>
        <input type="submit" value="OK">
    </form>